
h1{
	background-color:lightblue;
	height:100px;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:40px;
	text-align:center;
}

p{
	font-size:20px;
}

ul{
	list-style-type:none;
	font-size:30px;
	color:black;
	padding:0px;
	margin:0px;
	border:0px;
}
li{
	display:inline-block;
}

.ctList{
	list-style-type:none;
	font-size:30px;
	color:black;
	padding:0px;
	margin:0px;
	border:0px;
}

.ctListItem{
	display:block;
}

nav{
	background-color:lightblue;
}

main{
	text-align:center;
}

body{
	background-color:silver;
	padding:0px;
	margin:0px;
	border:0px;
}

footer{
	text-align:center;
}